<%- include("../partials/header") %>
<!-- The edit page for Courses! -->
<div class="container">
	<div class="row">
		<h1>EDIT THE COURSE:</h1>
		<h4><%= course.number %> - <%= course.name %></h4>

		<div class="myForm">
			<form action="/courses/<%= course._id %>?_method=PUT" method="POST">
				<div class="form-group">
					<label>Course Code</label>
					<input class="form-control" type="text" name="course[number]" value="<%= course.number %>" required>
				</div>
				<div class="form-group">
					<label>Name</label>
					<input class="form-control" type="text" name="course[name]" value="<%= course.name %>" required>
				</div>
				<div class="form-group">
					<label>Day</label>
					<input class="form-control" type="text" name="course[day]" value="<%= course.day %>" required>
				</div>
				<div class="form-group">
					<label>Time</label>
					<input class="form-control" type="text" name="course[time]" value="<%= course.time %>" required>
				</div>
				<div class="form-group">
					<select class="form-control" name="course[building]" required>
						<option>-Buildings-</option>
						
						<% building.forEach(function(part) { %>
							<option><%= part.name %></option>
						<% }); %>
						
					</select>
				</div>
				<div class="form-group">
					<label>Classroom</label>
					<input class="form-control" type="text" name="course[classroom]" value="<%= course.classroom %>" required>
				</div>
				<div class="form-group">
					<button class="btn btn-primary btn-lg btn-block">Edit</button>
				</div>
			</form>
			<a href="/courses">Go Back</a>
		</div>
		

		
	</div>
	
	
	
</div>

<%- include("../partials/footer") %>

