<%- include("../partials/header") %>


<div class="container">
	<header class="jumbotron">
		<div class="container">
			<h1>
				MY COURSES
			</h1>
			<p>
				<%= currentUser.username %>'s courses are listed here!
			</p>
			<p>
				<a class="btn btn-warning btn-lg" href="/courses/new">Add a new course</a>
			</p>
		</div>
		
	</header>
	
	<div class="row">
		<% course.forEach(function(part) { %>
			<% if(part.author.id.equals(currentUser._id)) { %>
			
			<div class="col-md-6 col-sm-12 col-xs-12 text-center">
				<div class="thumbnail float-left">
					<div class="caption">
						<h4><strong><%= part.number %></strong></h4>
						<h3><%= part.name %></h3>
						<a class="btn btn-info courseinfo" href="/courses/<%= part._id %>">INFO</a>
					</div>
					
				</div>
			</div>
		
			<% } %>
		<% }); %>
	</div>
</div>


<%- include("../partials/footer") %>


