<%- include("../partials/header") %>


<div class="container">
	<header class="jumbotron">
		<div class="container">
			<h1>
				MY COURSES
			</h1>
			<p>
				All my courses and their information are listed here!
			</p>
			<p>
				<a class="btn btn-warning btn-lg" href="/courses/new">Add a new course</a>
			</p>
		</div>
		
	</header>
	
	<div class="row">
		<% course.forEach(function(part) { %>
			<% if(part.author.id.equals(currentUser._id)) { %>
			
			<div class="col-md-6 col-sm-12 col-xs-12 text-center">
				<div class="thumbnail float-left">
					
					<ul class="courseList">
						<li><%= part.author.username %></li>
						<li><%= part.number %> - <%= part.name %></li>
						<li><%= part.time %>, <%= part.day %></li>
						<li><%= part.building %>- <%= part.classroom %></li>
					</ul>
					
					<a class="btn btn-info" href="/courses/<%= part._id %>">INFO</a>
				</div>
			</div>
		
			<% } %>
		<% }); %>
	</div>
</div>


<%- include("../partials/footer") %>


