<%- include("../partials/header") %>

<div class="container">
	<header class="jumbotron">
		<div class="container">
			<h1>
				THE BUILDINGS
			</h1>
			<p>
				All buildings are listed here!
			</p>
		</div>
		
	</header>
	
	<div class="row">
		<% building.forEach(function(part) { %>
			
			<div class="col-lg-3 col-md-4 col-sm-6 text-center">
				<div class="thumbnail float-left">
					<img src="<%= part.image %>">
					<div class="caption">
						<h4><%= part.name %></h4>
						<p>
							<%- part.description.substring(0,20) + "..." %>
						</p>
						<a class="btn btn-info btn-sm" href="/buildings/<%= part._id %>">INFO</a>
					</div>
					
				</div>
			</div>
		
		<% }); %>
	</div>
</div>





<%- include("../partials/footer") %>
