<%- include("../partials/header") %>

<div class="container InfoCon">
	<div class="row">
		<div class="myForm">
			
			<div class="col-xs-12">
				<div class="thumbnail">
					<img class="img-responsive" src="<%= building.image %>">
					<div class="caption-full">
						<h3 class="buildingName"><strong><%= building.name %></strong></h3>
						
						<p class="description">
							<strong>Description: </strong>
							<%- building.description %>
						</p>
						<a href="<%= building.location %>" class="btn btn-info">Location</a>
					</div>
					
				</div>
				
				<div class="buttonsDiv">
					<a class="btn btn-sm btn-warning" href="/buildings/<%= building._id %>/edit">EDIT</a>
					<form action="/buildings/<%= building._id %>?_method=DELETE" method="POST" id="deleteForm">
						<button type="submit" class="btn btn-sm btn-danger">DELETE</button>
					</form>
				</div>
				
			</div>
			
		</div>
	</div>
</div>




<%- include("../partials/footer") %>







